/* Custom CSS */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: silver;
}

.centered-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
}

.navbar {
    width: 100%;
}
/* Centering the form container */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 56px); /* Adjust 56px based on your fixed bottom navbar height */
    padding-bottom: 56px; /* Same value as navbar height to prevent content hiding behind the navbar */

}

/* Styling for the forms */
.login-form,
.register-form {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: skyblue;
}

.form-control {
    margin-bottom: 10px;
}

.table-responsive {
    max-height: 200px; /* Adjust the maximum height as needed */
    overflow-y: auto;
  }


.square-image {
    width: 200px; /* Set the width of the image */
    height: 200px; /* Set the height of the image */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 8px; /* Add rounded corners */
  }

  header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
  }
  .logo-img {
    max-width: 100px; /* Set the maximum width of the logo image */
    height: auto; /* Allow the height to adjust proportionally */
  }



